<%- include("partials/header.ejs") %>
<div class="container" id="list-item-container">
  <form action="/list/<%= username %>" method="post">
    <div class="new-item-area">
      <!--  -->
      <div class="input-group mb-3">
        <input type="text" name="item" id="item" class="form-control" placeholder="Add a new item to the list" aria-label="Recipient's username"
         aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-success" type="submit">Add item</button>
        </div>
      </div>
    </div>
  </form>

  <div class="list-display">
    <ul class="list-group">
      <% userList.forEach(listItem => { %>
        <li class="list-group-item">
          <form action="/list/<%= username %>/<%= listItem._id %>" method="post">
            <%= listItem.item %>
            <button class="btn btn-danger" id="right-button" type="submit">Delete</button>
          </form>         
        </li>
      <% }) %>
    </ul>
  </div>
<%- include("partials/footer.ejs") %>